# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb
*.so
*.egg-info/
*.eggs/
*.manifest
*.spec

# Django-specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# Virtual environment
venv/
env/
*.venv

# VSCode & PyCharm
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# PostgreSQL
*.dump